/*change the color of navbar.*/
.navbar-default{
    background-color: $primary-color-dark;
    margin-bottom: 16px;
    height:64px;
}

.navbar-default .navbar-brand {
    color:#fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-fixed-bottom {
    background-color: $primary-color-dark;
    height:64px;
}

#app-navbar-collapse{
    width: 100%;
}
